<form [formGroup]="expenseForm" (ngSubmit)="onSubmit(expenseForm.value)">
	<input type="date" name="trip-start"
        formControlName="date">

	<mat-form-field class="example-full-width">
		<mat-label>Favorite food</mat-label>
		<input matInput maxlength="600" placeholder="Le Nid" formControlName="nature">
  </mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Amount</mat-label>
			<input matInput type="number" class="example-right-align"
    formControlName="amount"
    min="1">
			<span matSuffix>€</span>
		</mat-form-field>

		<button mat-raised-button disabled="{{expenseForm.invalid}}" type="submit"

    color="primary">Sauvegarder</button>

</form>