<!-- Create expense -->
<mat-expansion-panel hideToggle>
	<mat-expansion-panel-header style="background-color:aquamarine">
		<mat-panel-title>
			Nouvelle dépense
		</mat-panel-title>
	</mat-expansion-panel-header>
	<app-new-expense></app-new-expense>
</mat-expansion-panel>

<!-- List show/update -->
<mat-accordion displayMode="flat" multi class="mat-table">

	<section matSort class="mat-elevation-z2 mat-header-row">
		<span class="mat-header-cell" mat-sort-header="purchasedOn">Date</span>
		<span class="mat-header-cell" mat-sort-header="nature">Nature</span>
		<span class="mat-header-cell" mat-sort-header="amount">Montant</span>
	</section>

	<mat-expansion-panel *ngFor="let item of displayedRows$ | async">
		<mat-expansion-panel-header class="mat-row">
			<span class="mat-cell">{{item.purchasedOn | date: 'd MMM y'}}</span>
			<span class="mat-cell">{{item.nature}}</span>
			<span class="mat-cell">{{item.originalAmount?.amount}} {{item.originalAmount?.currency}}</span>
		</mat-expansion-panel-header>

		<app-new-expense [expense]=item></app-new-expense>
	</mat-expansion-panel>

</mat-accordion>

<mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10"
	[pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>