<form [formGroup]="expenseForm" #formDirective="ngForm" (ngSubmit)="onSubmit(expenseForm.value, formDirective)">
	<input type="date" name="trip-start"
    value="{{expenseForm.controls.purchasedOn.value | date: 'y-MM-dd'}}"
    formControlName="purchasedOn">

	<mat-form-field class="example-full-width">
		<mat-label>Nature de la dépense</mat-label>
		<input matInput maxlength="600" placeholder="Le Nid" formControlName="nature">
  </mat-form-field>
		<div formGroupName="originalAmount">
			<mat-form-field appearance="fill">
				<mat-label>Montant</mat-label>
				<input matInput type="number" class="example-right-align"
          formControlName="amount"
          min="1">
			</mat-form-field>
				<select formControlName="currency" name="currency">
        <option value="EUR">Euros</option>
        <option value="GBP">Livre sterling</option>
      </select>
		</div>

		<mat-form-field class="example-full-width">
			<mat-label>Commentaire</mat-label>
			<textarea matInput placeholder="Fête de 5 jours sur l'île d'Oléron"
      formControlName="comment"
      max="600"></textarea>
		</mat-form-field>

		<button mat-raised-button disabled="{{expenseForm.invalid}}" type="submit"
color="primary">Sauvegarder</button>

</form>
<button *ngIf="expense" mat-button color="warn" (click)="removeExpense(expenseForm.controls.id.value)">Supprimer</button>